<div class="city">
    <div class="container">
        <div class="city__content">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="city__image img-responsive" src="img/city-of-love.png" alt="city-of-love"></img>
                </div>

                <div class="col-sm-12 col-md-6">
                    <h2 class="city__title yok-title">City of <span>Love</span></h2>
                    <p class="city__text">Malang is the second largest city in East Java province, Indonesia. 
                        It has a history dating back to the ancient Mataram Kingdom. 
                        The city is famous for its cool temperature. 
                        People in East Java sometimes call it "Paris of East Java.</p>
                </div>
            </div>
            
            
        </div>
    </div>
</div>