<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="yok-title contact__title">Contact</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-5">
                <form class="cont-form" action="/subscribe" method="post" accept-charset="utf-8">
                    <input class="cont-form__email" type="email" value="" placeholder="Your Email">
                    <input class="cont-form__subject" type="text" placeholder="Subject">
                    <input class="cont-form__company" type="text" placeholder="Company">
                    <textarea class="cont-form__message" rows="" cols="3" placeholder="Your Messages"></textarea>
                    <input type="submit" class="yok-btn cont-form__btn" value="Send Message">
                </form>
            </div>

            <div class="col-sm-12 col-md-5 offset-md-2">
                <h5 class="contact__subtitle">You Can Find Us Here</h5>
                <p class="contact__addr">
                    <i class="fa fa-home"></i>
                    Jl.Danau Bratan sekian nomer sekian, Sawojajar Malang</p>
                <a href="#" class="contact__find">Find on maps</a>
                <p class="contact__tel">
                    <i class="fa fa-user"></i>
                    (+62) 8816723812</p>
                <p class="contact__tel">
                    <i class="fa fa-user"></i>
                    (+62) 8512371632</p>
            </div>

        </div>
        <span class="contact__span">or</span>
    </div>
</div>