<div class="dest">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1">
                <a class="dest__link-reg" href="#">
                    <i class="fa fa-info-circle"></i>see basic regulation</a>
                <h2 class="yok-title">Des<span>tination</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-md-7 offset-md-1">
                <p class="dest__text">Being around by many mountain, Malang not only came with mountain vacation, 
                    but our beach, cultural spot, and Human Interest is worth to experienced.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-10 offset-md-1">
                <div class="dest__link-place">
                    <a href="#" class="active">All place</a> / <a href="#">Recomended place</a>
                </div>

                <div class="search">
                    <i class="fa fa-search search__icon"></i>
                    <input class="search__input" type="search" value="" placeholder="search destination">
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-sm-12">
                <div class="yok-card yok-card--right">
                    <div class="yok-card__descr">
                        <img class="yok-card__img" src="img/batu.png" alt="Batu">
                        <h5 class="yok-card__title">Batu</h5>
                        <p class="yok-card__text"> is a city located in East Java Province of Indonesia. 
                            It is situated about 20 km to the northwest of Malang. Formerly, 
                            it was a part of Malang Regency; but in 2001, Batu became an independent city.
                            A population of 190,000 people, it lies on the southern slopes of Gunung 
                            Welirang. Its population largely consists of Javanese.</p>
                        <a href="#" class="yok-card__link">see more<i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="yok-card yok-card--left">
                    <div class="yok-card__descr">
                        <img class="yok-card__img" src="img/bromo.png" alt="Bromo">
                        <h5 class="yok-card__title">Bromo</h5>
                        <p class="yok-card__text">Mount Bromo is an active volcano and part of the Tengger 
                            massif, in East Java, Indonesia. At 2,329 metres (7,641 ft) it is not the highest 
                            peak of the massif, but is the most well known.</p>
                    </div>
                    <a href="#" class="yok-card__link">see more<i class="fa fa-arrow-right"></i></a>    
                </div>
            </div>

            <div class="col-sm-5">
                <div class="yok-card yok-card--small">
                    <div class="yok-card__circle">
                        <img class="yok-card__img" src="img/boat.png" alt="boat">
                    </div>
                    <a href="#" class="yok-card__link">see more<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <nav class="yok-pag">
                    <ul class="yok-pag__list">
                        <li class="yok-pag__item">
                            <a class="yok-pag__link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="yok-pag__item active"><a class="yok-pag__link" href="#">1</a></li>
                        <li class="yok-pag__item"><a class="yok-pag__link" href="#">2</a></li>
                        <li class="yok-pag__item"><a class="yok-pag__link" href="#">3</a></li>
                        <li class="yok-pag__item"><a class="yok-pag__link" href="#">4</a></li>
                        <li class="yok-pag__item"><a class="yok-pag__link" href="#">5</a></li>
                        <li class="yok-pag__item">
                            <a class="yok-pag__link" href="#" aria-label="Next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li class="yok-pag__item">
                            <a class="yok-pag__link" href="#" aria-label="Next">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>