<div class="ittinery">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="yok-title ittinery__title">Set <span>Ittinery</span></h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2">
                <div class="ittinery__descr">
                    <p>Simply drag and drop what you want to visit, and voila we make a ittinery and 
                    schedule for your vacation. Have a great trip !</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-7">
                <div class="yok-form">
                    <div class="yok-form__title">Your ittenary title here</div>

                    <div class="yok-form__container">
                        <div class="yok-form__day">
                            <div class="yok-form__datetime">
                                <a href="#" class="yok-form__date">05/29/2017<i class="fa fa-caret-down"></i></a>
                                <label for="" class="yok-form__label">Day 1</label>
                            </div>
                            <div class="yok-form__item yok-form__item--bromo">
                                <span class="yok-form__place">Mt. Bromo</span>
                                <span class="yok-form__time">03.30 - 09.00</span>
                            </div>
                            <button class="yok-form__btn">add sub destination<i class="fa fa-plus-circle"></i></button>

                            <div class="yok-form__item yok-form__item--batu">
                                <span class="yok-form__place">Batu City</span>
                                <span class="yok-form__time">10.00 - 15.00</span>
                            </div>
                            <div class="yok-form__explain active">Enjoy Malang while Listening Music</div>
                            <div class="yok-form__explain">Gonna Eat BAKSO</div>
                            <button class="yok-form__btn">add sub destination<i class="fa fa-plus-circle"></i></button>
                        </div>

                        <div class="yok-form__day">
                            <div class="yok-form__datetime yok-form__datetime--next">
                                <label for="" class="yok-form__label">Day 2</label>
                                <a href="#" class="yok-form__date">05/29/2017<i class="fa fa-caret-down"></i></a>
                            </div>
                            <div class="yok-form__item yok-form__item--empty">
                                <span class="yok-form__descr">Drag Destination Here</span>
                            </div>
                        </div> 
                    </div>
                </div>

                <a class="yok-btn ittinery__print" href="#"><i class="fa fa-print"></i>Print</a>  
                <a class="yok-btn ittinery__pdf" href="#"><i class="fa fa-file-pdf-o"></i>Save as pdf</a> 
                    
            </div>

            <div class="col-sm-5">
                <div class="yok-list">
                    <div class="yok-list__title">List of Destination</div>

                    <div class="yok-list__sort">
                        <a href="#" class="yok-list__search"><i class="fa fa-search"></i></a>
                        <label for="" class="yok-list__label">sort by :</label>
                        <a href="#" class="yok-list__choice">Mountain<i class="fa fa-caret-down"></i></a>
                    </div>

                    <div class="yok-list__item">
                        <span class="yok-list__name">Mt. Bromo</span>
                        <img class="yok-list__img" src="img/bromo.png" alt="Bromo">
                        <p class="yok-list__time">estimated time: <span><b>5</b> Hours</span></p>
                        <a href="#" class="yok-list__details">view details</a>
                    </div>

                    <div class="yok-list__item">
                        <span class="yok-list__name">Mt. Panderman</span>
                        <img class="yok-list__img" src="img/bromo.png" alt="Bromo">
                        <p class="yok-list__time">estimated time: <span><b>5</b> Hours</span></p>
                        <a href="#" class="yok-list__details">view details</a>
                    </div>

                    <div class="yok-list__item">
                        <span class="yok-list__name">Mt. Semeru</span>
                        <img class="yok-list__img" src="img/bromo.png" alt="Bromo">
                        <p class="yok-list__time">estimated time: <span><b>5</b> Hours</span></p>
                        <a href="#" class="yok-list__details">view details</a>
                    </div>

                    <div class="yok-list__item">
                        <span class="yok-list__name">Mt. Bromo</span>
                        <img class="yok-list__img" src="img/bromo.png" alt="Bromo">
                        <p class="yok-list__time">estimated time: <span><b>5</b> Hours</span></p>
                        <a href="#" class="yok-list__details">view details</a>
                    </div>

                    <div class="yok-list__item">
                        <span class="yok-list__name">Mt. Bromo</span>
                        <img class="yok-list__img" src="img/bromo.png" alt="Bromo">
                        <p class="yok-list__time">estimated time: <span><b>5</b> Hours</span></p>
                        <a href="#" class="yok-list__details">view details</a>
                    </div>
                    

                </div>
            </div>
        </div>

    </div>
</div>