<div class="keep">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <h2 class="yok-title keep__title">Keep in Touch</h2>
                <p class="keep__descr">We Will Give you latest information about Malang</p>
            </div>

            <div class="col-sm-12 col-md-5">
                <form class="keep-form" action="/subscribe" method="post" accept-charset="utf-8">
                    <input class="keep-form__email" type="email" placeholder="Type Email for Subscribe">
                    <button class="keep-form__btn" type="submit" class="footer-form-button">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>